@import "../vars";

.top-screen {
  //   background: linear-gradient(90deg, #d52047 80%, #ee3d1b 80%);
  // min-height: 780px;
  // width: auto;
  background-image: url(../../images/Bg.jpg);
  background-size: cover;
  text-align: center;
  margin: auto;
  background-repeat: no-repeat;
}
